{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <title>Travel Wishlist</title>
        <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    </head>

    <h1 id="site-header" style="background: url('{% static 'img/sky.jpg' %}')">Travel Wishlist</h1>

    <body>
        {% block content %}

        {% endblock %}
    </body>

    <div class="nav-link">
        <p>A travel wishlist, but with Django</p>
        <a href="{% url 'place_list' %}">Your wishlist  </a>

        <a href="{% url 'places_visited' %}"> Places you've visited  </a>

    </div>


</html>